/**
 * 针对移动端显示1px问题,请使用此变量
 */
$BORDER_COLOR: #ebebeb !default;
$posit: top !default;
$T_B: height !default;
// 这是边框线条的mixin
@mixin setLine {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  border: 1px solid $BORDER_COLOR;
  color: $BORDER_COLOR;
  height: 200%;
  transform-origin: left top;
  transform: scale(0.5);
}
@mixin setTopAndBottom {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  border-bottom: 1px solid $BORDER_COLOR;
  border-top: 1px solid $BORDER_COLOR;
  color: $BORDER_COLOR;
  height: 200%;
  transform-origin: left top;
  transform: scale(0.5);
}

// 这只某一个边框的线条公共mixin
@mixin borderCom($BORDER_COLOR, $posit: top, $T_B) {
  content: ' ';
  position: absolute;
  #{$posit}: 0;
  #{$T_B}: 1px;
  color: $BORDER_COLOR;
  border-#{$posit}: 1px solid $BORDER_COLOR;
}

@mixin setTopLine {
  @include borderCom($BORDER_COLOR, top, height);
  left: 0;
  right: 0;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
@mixin setBottomLine {
  @include borderCom($BORDER_COLOR, bottom, height);
  left: 0;
  right: 0;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}

@mixin setLeftLine {
  @include borderCom($BORDER_COLOR, left, width);
  top: 0;
  bottom: 0;
  transform-origin: 0 0;
  transform: scaleX(0.5);
}
@mixin setRightLine {
  @include borderCom($BORDER_COLOR, right, width);
  top: 0;
  bottom: 0;
  transform-origin: 100% 0;
  transform: scaleX(0.5);
}
/* 整个边框的线条 */
.zm-b {
  position: relative;
  &:before {
    @include setLine;
  }
}
.zm-b-radius {
  position: relative;
  &:before {
    @include setLine;
    border-radius: 4px;
  }
}
.zm-b-t-b {
  position: relative;
  &:before {
    @include setTopAndBottom
  }
}
/* 上边框 */
.zm-b-t {
  position: relative;
  &:before {
    @include setTopLine;
  }
}

/* 下边框 */
.zm-b-b {
  position: relative;
  &:before {
    @include setBottomLine;
  }
}
/* 左边框 */
.zm-b-l {
  position: relative;
  &:before {
    @include setLeftLine;
  }
}
/* 右边框 */
.zm-b-r {
  position: relative;
  &:before {
    @include setRightLine;
  }
}
/* table */
.zm-1px-tb {
  position: relative;
  &:before {
    @include setTopLine;
  }
  &:after {
    @include setBottomLine;
  }
}

/* tr */
.zm-1px-tr {
  position: relative;
  &:before {
    @include setTopLine;
  }
  &:after {
    @include setRightLine;
  }
}
