html,
body,
p,
div,
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  /*去除点击阴影*/
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'pingfang-blod';
  src: url('../../../assets/font/PingFang-SC-Semibold.ttf');
}
@font-face {
  font-family: 'pingfang-regular';
  src: url('../../../assets/font/PingFang-SC-Regular.ttf');
}
.overflow-hidden {
  overflow: hidden;
}
.animation-active-in {
  animation: fadeIn 0.3s;
}
.animation-active-out {
  animation: fadeOut 0.3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0.1;
    color: #222222;
    height: 44px;
    background: #ffffff;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0.1;
    height: 44px;
    /*background: #2f446f;*/
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    /*background: #2f446f;*/
    opacity: 1;
  }
}

.router-enter-active{
  animation: fadeInLeft 0.3s;
}
.router-leave-active{
  animation: fadeOutLeft 0.3s;
}
.router-leave {
  animation: fadeInLeft 0.3s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0,0);
  }
}

//自定义上拉框actionsheet样式
.custom-gender-actionsheet{
  background: #f5f5f5!important;
  .mint-actionsheet-list{
    background: #8b8b8b;
    margin-bottom: 8px!important;

    .mint-actionsheet-listitem:first-child{
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-top: 0;
    }
  }

  .mint-actionsheet-listitem, .mint-actionsheet-button{
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    color: #222222;
    border-bottom: solid 1px #f5f5f5;
  }
}
