html,
body,
p,
div,
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  /*去除点击阴影*/
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'pingfang-blod';
  src: url('../../../assets/font/PingFang-SC-Semibold.ttf');
}
@font-face {
  font-family: 'pingfang-regular';
  src: url('../../../assets/font/PingFang-SC-Regular.ttf');
}
.overflow-hidden {
  overflow: hidden;
}
.animation-active-in {
  animation: fadeIn 0.3s;
}
.animation-active-out {
  animation: fadeOut 0.3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0.1;
    color: #222222;
    height: 44px;
    background: #ffffff;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0.1;
    height: 44px;
    /*background: #2f446f;*/
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    /*background: #2f446f;*/
    opacity: 1;
  }
}
